\:root
  --main-bg-color:#c51550
  --main-text-color:#F52D70
  --second-text-color:#d3def8
  --second-bg-color:#d9e2df

*
  overflow-x: hidden

#img
  background-image: url('./../images/bg-cover.jpg')
  height: 636px
  background-repeat: no-repeat
  background-size: cover

#Header
  border-bottom: 1px solid #ebebeb

  a
    color: #2c3e50
    font-weight: 600
    font-size: 1.2rem

.container-fluid
  padding-left: 0
  padding-right: 0

nav ul li a
  font-size: 1.1rem
  font-weight: 600

nav ul li a
  &:hover
    color: #F52D70 !important

.active
  color: #F52D70 !important

.full-footer
  background-color: #262626

#form-search
  z-index: 9999
  top: 50px
  left: 100px
 
#form
  background-color: #FFFFFF 

#img-cont
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./../images/bg-contact.jpg')
  height: 536px
  background-repeat: no-repeat
  background-size: cover
